body{
    font-family:sans-serif;
    padding: 30px;
    background:#ededed;
}

.wrapper{
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color:#3f7abe;
}

h1{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08a3d9;
    text-transform: uppercase;
    font-size: 30px;
    color: #000380;
}

#balloon-gallery div{
    background: #ff3300;
    height: 121px;
    width: 119px;
    text-align: center;
    color: #ff3300;
    font-size: 40px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    /* float: left; */
    margin: 2.5px 5 px 2.5px 0px;
    offset-path: path('M60,50 C20,100 200,0 200,100');
    animation: move 8000ms infinite alternate ease-in-out;
}

#balloon-gallery div:nth-child(3n){
    background: #ffce00;
    color: #ffce00;
    
}

#balloon-gallery div:nth-child(3n-1){
    background:#3f7abe;
    color:#3f7abe;
}

#balloon-gallery div:nth-child(5n){
    background:#8e7a8e;
    color:#8e7a8e;
}

#balloon-gallery div:nth-child(13){
    background:#8e7a8e;
    color:#8e7a8e;
}

#balloon-gallery div:nth-child(10n){
    background:#ff3300;
    color: #ff3300;
}

#balloon-gallery div:nth-child(4n){
    clear:right;
}

#yay-no-balloons {
    display:none;
    color:#ff3300;
    font-size:100px;
}
@keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
  .button-24 {
    position: absolute;
    top: 500px;
    left: 900px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }